:root{
    --primary-color: gold;
    --secondary-color: black;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}

a{
    text-decoration: none;
    cursor: pointer;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 400px;
}


header{
    display: flex;
    flex-direction: column;
    background-image: url("intestazionev3.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;

    font-family: 'Bebas Neue', sans-serif;
    
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    z-index: 1;
}

nav a{
    font-weight:normal ;
    font-style:normal ;
    font-size: 1em;
    color:var(--secondary-color);
    line-height:normal;
    
    background-color:var(--primary-color);
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

h1{
    font-weight:lighter ;
    font-style:italic ;
    font-size: 4em;
    color:var(--primary-color);
    line-height: 20%;
    
    position: relative;
    bottom: 7%;
    text-align: center;
    margin: auto;
    z-index: 1;
    
    
}

section{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1400px;
    font-family: 'Libre Baskerville', sans-serif;
    
}

.FlexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 100%;
    margin: 2%
}

.FlexContainer .notizia{

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
}

.decorazione{
    height: 2%;
    width: 98%;
    
    border-radius: 10px;
    background-color:var(--primary-color);
    margin: auto;
}

.decorazione:hover{
    width: 5%;


}



.notizia h1{
    font-weight: lighter;
    font-style: normal;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 1.4em;
    color:var(--secondary-color);
    line-height:normal;

    position:relative;
    top: 15px;
    margin: auto;
    letter-spacing: 5px;
    
}

.notizia p{
    font-weight:normal ;
    font-style:normal ;
    font-family: 'Bitter' , sans-serif;
    font-size: 1.3em;
    color:var(--secondary-color);
    line-height:normal;

    position: relative;
    top: 50px;
    height: 30%;
    width: auto;
    margin: 2%;
    
}

.notizia a{
    padding: 1%;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: black;
    z-index: 1;
}

a:hover{
    background-color: var(--secondary-color);
    color: white;
    
}


.immagineNotizia{
   
    height: 50%;
    width: 90%;
    padding: 0%;
    margin:2%;
    align-content: center;
}


.immagineNotizia img{
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 10px;
}



footer{
    display: flex;
    background-color:var(--secondary-color);
    height: 100px;
    margin-bottom: 0px;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
}

footer p{
    font-weight:normal ;
    font-style:normal ;
    font-size: 1.5em;
    color:whitesmoke;
    line-height:normal;
    
    
}


@media (max-width: 900px) {
    header::before {
        height: 300px;
    }
    
    
    header{
        
        height: 300px;
        
    }
    
    nav{
        padding: 5px;
    }
    
    nav a{
        
        font-size: 0.6em;       
    }
    
    h1{
        font-size: 3em;  
    }
    
    section{
        height: 3500px;
        margin: 5px;
        flex-direction: column;
    }
    
    .FlexContainer{
        flex-direction: column;
        width: 95%;
        height: 90%;
        margin: 0%;
    }
    
    .FlexContainer .notizia{
        height: 100%;
        justify-content: center;
    }
    
    
    .decorazione:hover{
        width: 5%;
    
    
    }
    
    
    
    .notizia h1{
        
        font-size: 1.3em;
        
        letter-spacing: 2px;
        
    }
    
    .notizia p{
        position: relative;
        bottom: 100px;
        font-size: 1em;        
    }
    
    .notizia a{
        
        position: relative;
        border-radius: 5px;
        font-size: 0.7em;
    }
        
    
    
    footer{
       
        height: 80px;
        
    }
    
    footer p{
        font-size: 1em;
        text-align: center;
        
    }
 

}

#menutendina{
    display: none;
}

#menutendina div{
    background-color: var(--primary-color);
    height: 8px;
    
    width: 40px;
    margin: 5px;
}


@media (max-width: 450px){
    nav a{
        display: none;
    }

    #menutendina{
        display: block;
    }


}


    