:root{
    --primary-color: gold;
    --secondary-color: black;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


a{
    text-decoration: none;
    cursor: pointer;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 400px;
}


header{
    display: flex;
    flex-direction: column;
    background-image: url("intestazionev3.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;

    font-family: 'Bebas Neue', sans-serif;
    
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
  
}

nav a{
    font-weight:normal ;
    font-style:normal ;
    font-size: 1em;
    color:var(--secondary-color);
    line-height:normal;
    
    background-color:var(--primary-color);
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#menutendina{
    display: none;
}

#menutendina div{
    background-color: var(--primary-color);
    height: 8px;
    
    width: 40px;
    margin: 5px;
}

header h1{
    font-weight:bold ;
    font-style:italic ;
    font-size: 4em;
    color:var(--primary-color);
    line-height: 20%;
    
    position: relative;
    bottom: 7%;
    text-align: center;
    margin: auto;
    z-index: 1;
}

section{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Libre Baskerville', sans-serif;
}


.FlexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 48%;
    

}

.FlexContainer .notizia{

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 48%;
    width: auto;
}

.decorazione{
    height: 3%;
    width: 98%;
    
    border-radius: 10px;
    background-color:var(--primary-color);
    margin: auto;
}

.decorazione:hover{
    width: 10%;
}

.notizia h1{
    font-weight: lighter;
    font-style: normal;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 1.4em;
    color:var(--secondary-color);
    line-height:normal;

    margin: auto;
    letter-spacing: 1%;
    
}

.notizia p{
    font-weight:normal ;
    font-style:normal ;
    font-family: 'Bitter' , sans-serif;
    font-size: 1em;
    color:var(--secondary-color);
    line-height:normal;

    height: 30%;
    margin: auto;
  
    
}

.notizia a{
    padding: 1%;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: black;
    z-index: 1;
    margin: auto;
}

a:hover{
    background-color: var(--secondary-color);
    color: white;
    
}
.immagineNotizia{
   
    height: 60%;
    width: 90%;
    padding: 0%;
    margin:2%;
    align-items: center;
}


.immagineNotizia img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



footer{
    height: 200px;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

footer p{
    text-align: center;
    font-weight:normal ;
    font-style:normal ;
    font-size: 3em;
    color:whitesmoke;
    line-height:normal;
    position: relative;
    top: 40%;
    
}




@media (max-width: 1200px){
    
    nav a{
        font-size: 2em;
    }

    header h1{
        font-size: 5em;
    }
    
    section{
        margin: 1%;
    
        flex-direction: column;
        justify-content:center;
       
        
    }

    .FlexContainer{
        
        max-height: 48%;
        width: 100%;
    }

    .FlexContainer .notizia{
        height: 100%;

    }

    .decorazione{
        height: 10px;
    }

    .notizia p{
    
        font-size: 2.5em;    
    }

    .notizia h1{
        font-size: 4em;
    }
    
}

@media (max-width: 1000px){
    
    nav a{
        font-size: 2em;
    }

    header h1{
        font-size: 5em;
    }
    

    .decorazione{
        height: 10px;
    }

    .notizia p{
    
        font-size: 2em;    
    }

    .notizia h1{
        font-size: 3em;
    }

    footer p{
        font-size: 2em;
    }
    
}

@media (max-width: 850px){
    
    nav a{
        display: none;
    }

    #menutendina{
        display: block;
    }


    header h1{
        font-size: 4em;
    }
    
    .notizia p{
    
        font-size: 1.5em;    
    }

    .notizia h1{
        font-size: 2.5em;
    }
    
}

@media (max-width: 550px){
    

    header h1{
        font-size: 3em;
    }
    
    .notizia p{
    
        font-size: 1em;    
    }

    .notizia h1{
        font-size: 2em;
    }

    footer p{
        font-size: 1.5em;
    }
    
}

@media (max-width: 450px){
    

    header h1{
        font-size: 3em;
    }
    
    .notizia p{
    
        font-size: 1em;    
    }

    .notizia h1{
        font-size: 1.5em;
    }

    footer p{
        font-size: 1.5em;
    }
    
}


@media (max-width: 350px){
    

    header h1{
        font-size: 2.5em;
    }
    
    .notizia p{
    
        font-size: 1em;    
    }
    .notizia a{
        font-size: 0.7em;
    }

    .notizia h1{
        font-size: 1em;
    }

    footer p{
        font-size: 1em;
    }
    
}






